<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      href="//db.onlinewebfonts.com/c/d056bcf9dfd6ac922b71535de69e8827?family=Posterama"
      rel="stylesheet"
      type="text/css"
    />
    <link
      href="//db.onlinewebfonts.com/c/84693c6ac1f359fe8a4ac49b69f492dd?family=Gotham+Light"
      rel="stylesheet"
      type="text/css"
    />
    <link href="title.css" rel="stylesheet" />
    <title>Oasis Calendar Proj</title>
  </head>
  <body>
    <div class="ulabula">
      <p class="title">OASIS</p>
      <p class="subtitle">For your time management</p>
      <button class="startBtn" type="button">
        MANAGE SCHEDULE
      </button>
    </div>
  </body>
</html>
